input[type=text],
select {
    width: 100%;
    max-width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    color: #ccc;
}

form {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
}

label {
    grid-column: 1 / 2;
    color: yellow;
}

input {
    grid-column: 2 / 3;

    background-color: yellowgreen;
}

button {
    grid-column: 2 / 3;

    background-color: red;
}

.form2 {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.form4 {
    grid-column: 1/2;

}

.form5 {
    grid-column: 2/3;

}

#store_records {
    margin-bottom: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: red;
    font-size: 50px;
    border-radius: 5px;
    margin-left: 220px;
    margin-bottom: -20px;
    padding: 10px;
}