@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {

    background-color: aliceblue;

}

h1 {

    margin: auto;
    background-color: brown;
    text-align: center;
}

main {
    height: 100vh;
}

main h1 {
    padding: .2em;
}

footer {
    background-color: brown;
    padding: 1em;
}