@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {

    background-color: aliceblue;
    height: 100vh;

}

h1 {

    margin: auto;
    background-color: brown;
    text-align: center;
}

/* main {
    height: 100vh;
} */

main h1 {
    padding: 1em;
    text-shadow: 2px 2px 4px #000000;
    
}

h2 {
    text-shadow: 2px 2px 4px rosybrown;
}

p {
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background-color: brown;
    padding: 1.5em;
    text-shadow: 2px 2px 4px #333;
    line-height: 1.5;
    font-size: 1em;
}

/* body {
    max-width: 500px;
    margin: auto;
    background-color: bisque;
} */

form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
}

label {
    grid-column: 1 / 2;
}

input,
button {
    grid-column: 2 / 3;
    background-color: chartreuse;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}