@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {

    background-color: aliceblue;

}

h1 {

    margin: auto;
    background-color: brown;
    text-align: center;
}

main {
    height: 100vh;
}

main h1 {
    padding: .2em;
}

footer {
    background-color: brown;
    padding: 1em;
}

/* body {
    max-width: 500px;
    margin: auto;
    background-color: bisque;
} */

form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
}

label {
    grid-column: 1 / 2;
}

input,
button {
    grid-column: 2 / 3;
    background-color: chartreuse;

}